/* APP.LESS */
#app {

 
  
  .overlay {    
    position: absolute;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: #000;
    z-index: 99;
    opacity: .5;

  }
  
  // internal
  &.type2, &.type4 {
    border-bottom: 5px solid #00afd9;
  }
    
  // queue
  &.type3 {
    border-bottom: 5px solid #fd5c2a;
  }
  
  // external
  &.type5 {
    border-bottom: 5px solid #00ad33;
  }
  
  #header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding: 8px 14px;
    background-color: #006073;
    color: #eeeeee;
    
    .indicator {
      width: 14px;
      height: 14px;
      display: inline-block;
    }
    
    .material-icons {
      font-size: 25px;
      display: inline-block;
      vertical-align: bottom;
      left: 5px;
      
      &.more {
        color: #9b9b9b;
      }
    }
    
    .buttons {
      flex: 1;
      text-align: center;
      margin-top: 1px;
      
      .missed_calls, .voicemails, .chats {
        display: inline-block;
        margin: 0 20px;
        text-align: center;
        
        .indicator {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: -3px;
          right: -11px;
          background-color: #015D73;
          border: 0;
          font-size: 10px;
          width: 16px;
          height: 16px;
          color: #ffffff;
          
          &.has {
            background-color: #FD5C2A;
          }
        }
        
        &:hover .tooltip {
          display: block;
        }
        
        .tooltip {
          display: none;
          position: absolute;
          top: 24px;
          left: -26px;
          z-index: 101;
          background-color: white;
          width: 100px;
          padding: 10px 7px;
          border-radius: 4px;
          box-shadow: 1px 1px 4px gray;
          font-size: 13px;
          line-height: 16px;
          color: #333333;
          
          &:after {
            .triangle;
            transform: rotate(-135deg);
            box-shadow: 0 0 0;
            border-width: 5px;
            top: -5px;
            left: 44px;
          }
        }
      }
    }

    .agent-login {
      width: 80%;
    }
  }

  #basic {    
    border-bottom: 5px solid #d8d8d8;
    .material-icons.audio {
      position: absolute;
      top: 6px;
      right: 12px;
      color: #bcbcbc;
      background-color: #eef2f5;
      border-radius: 50%;
      font-size: 22px;
      padding: 5px;
      z-index: 1;
      
      &.on {
        color: white;
        background-color: #015d73;
        z-index: 100;
      }
    }
    
    .location {
      background-color: #fbfbfb;
      padding: 10px 12px;
    
      .my_location {
        font-weight: bold;
        font-size: 13px;
        margin-left: 10px;
        
        .material-icons {
          font-size: 13px;
          font-weight:bold;
          vertical-align: middle;
        }


      }

      .my_location.u{
        color:#D0011B;
      }
    }

    #addText{
    font-size: 16px;
    width: 220px;
    margin: 40px 40px 50px 40px;
    }

    #dialpad {
        color: black;

        .calling{

        .form {
          flex: 1;
        
              &.focused {
                .label {
                  top: 8px;
                  color: inherit;
                }
                
                .number {
                  border: 1px solid #8fcfff;
                }
              }
            }
          .label{
            position: relative;
            z-index: 1;
            background-color: white;
            top: 32px;
            left: 30px;
            width:145px;
            font-size: 14px;
            color: #cccccc;
            -webkit-transition: top 0.25s;
            transition: top 0.25s;
            pointer-events: none;
          }

        .number {
            width: 250px;
            border: 1px solid #d2d6d9;
            padding: 16px 8px;
            font-size: 14px;
            margin-bottom:30px;
          }
        }
    }

        #transfer {
        color: black;

        .calling{

        .form {
          flex: 1;
        
              &.focused {
                .label {
                  top: 8px;
                  color: inherit;
                }
                
                .number {
                  border: 1px solid #8fcfff;
                }
              }
            }
          .label{
            position: relative;
            z-index: 1;
            background-color: white;
            top: 33px;
            left: 30px;
            width:145px;
            font-size: 14px;
            color: #cccccc;
            -webkit-transition: top 0.25s;
            transition: top 0.25s;
            pointer-events: none;
          }

        .number {
            width: 250px;
            border: 1px solid #d2d6d9;
            padding: 16px 8px;
            font-size: 14px;
            margin-bottom:30px;
          }
        }
    }
    
    .calling {
      padding: 14px 12px;
      display: flex;
      flex-direction: row;
      align-items: center;
      
      .form {
        flex: 1;
        
        &.focused {
          .label {
            top: -8px;
            color: inherit;
          }
          
          .number {
            border: 1px solid #8fcfff;
          }
        }
      }
      
      .label {
        position: absolute;
        z-index: 1;
        background-color: white;
        top: 16px;
        left: 8px;
        font-size: 14px;
        color: #cccccc;
        transition: top 0.25s;
        pointer-events: none;
      }
      
      .number {
        width: 100%;
        border: 1px solid #d2d6d9;
        padding: 16px 8px;
        font-size: 14px;
      }
      
      .material-icons {
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
        font-size: 22px;
        padding: 8px;
        margin-left: 10px;
      }
      

        
      .callbtn {
        background-color: #80D798;
        color: #ffffff;
        font-size: 25px;
        
        &.active {
          background-color: #00ad33;
        }
      }
    }


  }

  .associateZendesk{
    border-top:4px solid #d8d8d8;
    border-bottom:4px solid #d8d8d8;
    margin: 10px 0 10px 0;
    width:100%;
    height:70px;
  }

  #associateText{
    float: left;
    width: 120px;
    font-size: 14px;
    margin: 15px 10px 10px 30px;
    color: #9C9C9C;
  }

  #associateTicket{
    float: left;
    width: 125px;
    text-align: center;
    height: 31px;
    margin: 15px 10px 10px 0;
    color: #9C9C9C;
    border: 1px solid lightgray;
  }

  #recentTitle{
    font-size: 15px;
    font-weight: bold;
    color: #616161;
    margin: 10px 0 0px 10px;
  }

  #recentSection{
    max-height:260px;
    overflow-y: auto;
  }

  .recentList{
    padding: 0 10px 0 10px;
  }

  .recentItems{
    padding-top:15px;
    height:47px;
    border-top:1px solid #EDEDED;
    list-style:none;
    .material-icons{
      font-size:15px;
      margin-right:15px;
      float:left;
      &.call_made{
        color:#015D73;
      }
      &.call_missed{
        color:#FD5C2A;
      }
      &.call_received{
        color:#00AD33;
      }

    }
    .recentDisplayName{
      height: 30px;
      position: relative;
      bottom: 5px;
      max-width: 140px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size:13px;
      font-weight: bold;
      color:#616161;
      float:left;

      .displayPhone{
      margin: 0px;
      color: #A3A3A3;
      opacity:0.5;
      }

    }
    .recentTimeAgo{
      float:right;
      font-size:13px;
    }

      &:last-of-type{
        border-bottom:1px solid #EDEDED;
      }

      &:hover{
        background-color:#454545;
          z-index:1;
/*         background-image: url(/returnCall.png);
          background-repeat:no-repeat;
          background-position: center center;
          background-size:75px 50px;*/
      }
  }

  .recentItems .returnCall{
    visibility:hidden;
    position: absolute;
    top: 0;
    left: 120px;
  }

  .recentItems:hover .returnCall{
    visibility:visible;
  }

  #selectAll{
    #allLabel{
      float:right;
      margin: 8px 5px 0 0;
    }
    #allCheckbox{
    float:right;
    height:15px;
    width:15px;
    margin-top:7px;
    }


  }

  #queueBlock{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
    height:40px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #AAAAAA;
  }

  #queueContent{
    padding-left: 20px;
    text-align: left;
    height: 290px;
    max-height: 290px;
    overflow-y: auto;
  }

  .myQueueList{
    margin:20px 0 10px 0;
  }

  .queueTitle{
    padding:0;
    margin:0 0 5px 0;
    color:#4A4A4A;
    font-size:15px;
    font-weight:bold;
    width:200px;
    overflow-x:ellipsis;

      &.true{
      color:#9B9B9B;
    }
  }

  .queueStatus{
    color:#4A4A4A;
    margin:0;
    padding:0;
    font-size:12px;
    width:130px;

    &.true{
      color:#9B9B9B;
    }
  }

  .queueCheckbox{
    margin: 12px 20px 0 0;
    float: right;
    height: 15px;
    width: 15px;
  }

  .queueLogin{
    background-color: #00AD33;
    border: none;
    font-size: 19px;
    color: white;
    border-radius: 7px;
    padding: 6px 20px 6px 20px;
    margin: 10px 10px 0px 10px;

    &.true{
      background-color:#9C9C9C;
    }
        &.false{
      background-color:#00AD33;
    }
  }

  .queueLogout{
    background-color: #00AD33;
    border: none;
    font-size: 19px;
    color: white;
    border-radius: 7px;
    padding: 6px 10px 6px 10px;
    margin: 10px 10px 0px 10px;

    &.false{
      background-color:#00AD33;
    }
        &.true{
      background-color:#9C9C9C;
    }
  }

  #full, #footer, #transfer {
    .name {    
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
      
    .status {
      font-size: 10px;
      margin-top: 7px;
    }
      
    .controls {
      .button {
        margin: 7px 15px;
        display: inline-block;
        
        &[disabled] {
          pointer-events: none;
          color: #9b9b9b;
          
          .material-icons {
            border: 1px solid #9b9b9b;
          }
        }
      
        .material-icons {
          border: 1px solid #166b7f;
          margin-bottom: 4px;
          
          &.on {
            background-color: #166b7f;
            color: white;
            
            &:not(.mic) {
              z-index: 100;
            }
          }
        }
        
        .label {
          display: block;
        }
      }
    }
  }

  #full {
    height: 400px;
    text-align: center;
      
    .banner {
      height: 52px;
      background-color: #015d73;
      padding-top: 8px;
      
      .avatar {
        width: 90px;
        height: 90px;
        border: 2px solid white;
        
        .initials {
          font-size: 40px;
        }
      }
    }
    
    .info {
      padding: 40px 0 30px 0;
      
      .name {
        padding: 0 15px;
        font-size: 30px;
        font-weight: lighter;
      }
      
      .material-icons {
        border-radius: 50%;
        font-size: 25px;
        padding: 8.5px;
        
        &.end {
          background-color: #d0021b;
          color: white;
        }
        
        &.answer {
          margin-left: 20px;
          background-color: #00ad33;
          color: white;
        }
      }
      .no-controls {
        width: 75%;
        margin: 180px auto 12px auto;        
      }
      .controls {
        width: 75%;
        margin: 15px auto 12px auto;
      }
    }
  }

  #dialpad, #transfer, #queues {
    height: 440px;
    margin-top: -40px;
    text-align: center;
    
    .banner {
      height: 40px;
      background-color: #015d73;
      text-align: center;
      color: white;
      font-size: 19px;
      padding: 10px;
    
      .material-icons {
        position: absolute;
        top: 9px;
        left: 12px;
        color: #b9babb;
      }
    }
  }

  #dialpad {
    text-align: center;
    
    .input {
      width: 240px;
      margin: 12px auto;
      border: 0;
      border-bottom: 1px solid #979797;
      padding: 4px 0;
      font-size: 18px;
      text-align: center;
    }
    
    .controls {
      width: 75%;
      margin: 0 auto;
      
      .key {
        display: inline-block;
        vertical-align: top;
        color: #015d73;
        font-size: 30px;
        width: 35px;
        margin: 6px 18px;
        
        &.special {
          color: #9b9b9b;
        }
        
        .label {
          color: black;
          font-size: 10px;
        }
      }
    }
    
    .buttons {
      margin-top: 7px;
      
      .material-icons {
        border-radius: 50%;
        font-size: 25px;
        padding: 8.5px;
        color: white;
        background-color: #015d73;
        margin: 0 11px;
        
        &.answer {
          background-color: #00ad33;
        }
        
        &.end {
          background-color: #d0021b;
        }
      }
    }
  }

  #transfer {
    display: flex;
    flex-direction: column;
    
    .info {
      flex: 1;
      
      .alert {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #f5f5f5;
        padding: 8px 20px;
        
        .avatar {
          width: 48px;
          height: 48px;
          font-size: 20px;
        }
        
        .details {
          flex: 1;
          padding-left: 10px;
          overflow: hidden;
        }
      }
      
      .to {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px 15px;
        color: #00ad33;
        font-size: 18px;
      
        .number {
          flex: 1;
          margin-left: 10px;
          border: 0;
          border-bottom: 2px solid #dedede;
          padding: 4px 0;
          font-size: 16px;
        }
      }
    }
    
    .controls {
      text-align: center;
      
      .material-icons {
        border-radius: 50%;
        font-size: 25px;
        padding: 8.5px;
      }
      
      .cancel {
        color: #045f75;
        margin: 7px 0 14px 0;
      }
    }
  }

  #footer {
    .alert {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 52px;
      padding: 0 12px;
      border-top: 1px solid #00afd9;
      border-bottom: 1px solid #00afd9;
      background-color: #eef2f5;
      
      // queues
      &.type3 {
        border-top: 1px solid #fd5c2a;
        border-bottom: 1px solid #fd5c2a;
        background-color: #ffefeb;
      }
      
      // external
      &.type5 {
        border-top: 1px solid #00ad33;
        border-bottom: 1px solid #00ad33;
        background-color: #e9ffef;
      }
      
      .avatar {
        width: 42px;
        height: 42px;
        border: 2px solid white;
        
        .initials {
          font-size: 16px;
        }
      }
      
      .details {
        flex: 1;
        text-align: left;
        padding-left: 8px;
        overflow: hidden;
      }
      
      .material-icons {
        border-radius: 50%;
        color: white;
        font-size: 22px;
        padding: 5px;
        margin-left: 10px;
        
        &.answer {
          background-color: #00ad33;
        }
        
        &.end {
          background-color: #d0021b;
        }
        
        &.switch {
          background-color: white;
          color: black;
          border: 1px solid #166b7f;
        }
      }
    }
  }
}
/* import other scripts */