/* APP.LESS */
#app {
  min-width: 320px;
  min-height: 175px;
}
#app .overlay {
  position: absolute;
  top: 34px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 99;
  opacity: .5;
}
#app.type2,
#app.type4 {
  border-bottom: 5px solid #00afd9;
}
#app.type3 {
  border-bottom: 5px solid #fd5c2a;
}
#app.type5 {
  border-bottom: 5px solid #00ad33;
}
#app #header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 34px;
  padding: 8px 14px;
  background-color: #006073;
  color: #eeeeee;
}
#app #header .indicator {
  width: 14px;
  height: 14px;
  display: inline-block;
}
#app #header .material-icons {
  font-size: 25px;
  display: inline-block;
  vertical-align: bottom;
  left: 5px;
}
#app #header .material-icons.more {
  color: #9b9b9b;
}
#app #header .buttons {
  flex: 1;
  text-align: center;
  margin-top: 1px;
}
#app #header .buttons .missed_calls,
#app #header .buttons .voicemails,
#app #header .buttons .chats {
  display: inline-block;
  margin: 0 20px;
  text-align: center;
}
#app #header .buttons .missed_calls .indicator,
#app #header .buttons .voicemails .indicator,
#app #header .buttons .chats .indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -3px;
  right: -11px;
  background-color: #015D73;
  border: 0;
  font-size: 10px;
  width: 16px;
  height: 16px;
  color: #ffffff;
}
#app #header .buttons .missed_calls .indicator.has,
#app #header .buttons .voicemails .indicator.has,
#app #header .buttons .chats .indicator.has {
  background-color: #FD5C2A;
}
#app #header .buttons .missed_calls:hover .tooltip,
#app #header .buttons .voicemails:hover .tooltip,
#app #header .buttons .chats:hover .tooltip {
  display: block;
}
#app #header .buttons .missed_calls .tooltip,
#app #header .buttons .voicemails .tooltip,
#app #header .buttons .chats .tooltip {
  display: none;
  position: absolute;
  top: 24px;
  left: -26px;
  z-index: 101;
  background-color: white;
  width: 100px;
  padding: 10px 7px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px gray;
  font-size: 13px;
  line-height: 16px;
  color: #333333;
}
#app #header .buttons .missed_calls .tooltip:after .triangle,
#app #header .buttons .voicemails .tooltip:after .triangle,
#app #header .buttons .chats .tooltip:after .triangle {
  transform: rotate(-135deg);
  box-shadow: 0 0 0;
  border-width: 5px;
  top: -5px;
  left: 44px;
}
#app #header .agent-login {
  width: 80%;
}
#app #basic {
  border-bottom: 5px solid #d8d8d8;
}
#app #basic .material-icons.audio {
  position: absolute;
  top: 6px;
  right: 12px;
  color: #bcbcbc;
  background-color: #eef2f5;
  border-radius: 50%;
  font-size: 22px;
  padding: 5px;
  z-index: 1;
}
#app #basic .material-icons.audio.on {
  color: white;
  background-color: #015d73;
  z-index: 100;
}
#app #basic .location {
  background-color: #fbfbfb;
  padding: 20px 12px;
}
#app #basic .location .my_location {
  font-weight: bold;
  font-size: 13px;
  margin-left: 10px;
}
#app #basic .location .my_location .material-icons {
  font-size: 13px;
  vertical-align: middle;
}
#app #basic .calling {
  padding: 14px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#app #basic .calling .form {
  flex: 1;
}
#app #basic .calling .form.focused .label {
  top: -8px;
  color: inherit;
}
#app #basic .calling .form.focused .number {
  border: 1px solid #8fcfff;
}
#app #basic .calling .label {
  position: absolute;
  z-index: 1;
  background-color: white;
  top: 16px;
  left: 8px;
  font-size: 14px;
  color: #cccccc;
  transition: top 0.25s;
  pointer-events: none;
}
#app #basic .calling .number {
  width: 100%;
  border: 1px solid #d2d6d9;
  padding: 16px 8px;
  font-size: 14px;
}
#app #basic .calling .material-icons {
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  font-size: 22px;
  padding: 5px;
  margin-left: 10px;
}
#app #basic .calling .dialpad {
  border: 1px solid #0d657a;
  color: black;
}
#app #basic .calling .callbtn {
  background-color: #80D798;
  color: #ffffff;
  font-size: 30px;
}
#app #basic .calling .callbtn.active {
  background-color: #00ad33;
}
#app #recentTitle {
  font-size: 15px;
  font-weight: bold;
  color: #616161;
  margin: 10px 0 10px 10px;
}
#app #recentSection {
  max-height: 225px;
  overflow-y: auto;
}
#app .recentList {
  padding: 0 10px 0 10px;
}
#app .recentItems {
  padding-top: 15px;
  height: 47px;
  border-top: 1px solid #EDEDED;
  list-style: none;
}
#app .recentItems .material-icons {
  font-size: 15px;
  margin-right: 15px;
  float: left;
}
#app .recentItems .material-icons.call_made {
  color: #015D73;
}
#app .recentItems .material-icons.call_missed {
  color: #FD5C2A;
}
#app .recentItems .material-icons.call_received {
  color: #00AD33;
}
#app .recentItems .recentDisplayName {
  height: 30px;
  position: relative;
  bottom: 5px;
  font-size: 13px;
  font-weight: bold;
  color: #616161;
  float: left;
}
#app .recentItems .recentDisplayName .displayPhone {
  margin: 0px;
  font-weight: 100;
  color: #B0B0B0;
}
#app .recentItems .recentTimeAgo {
  float: right;
  font-size: 13px;
}
#app .recentItems:last-of-type {
  border-bottom: 1px solid #EDEDED;
}
#app .recentItems:hover {
  background-image: url(/images/add-blue.png);
}
#app #full .name,
#app #footer .name,
#app #transfer .name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#app #full .status,
#app #footer .status,
#app #transfer .status {
  font-size: 10px;
  margin-top: 7px;
}
#app #full .controls .button,
#app #footer .controls .button,
#app #transfer .controls .button {
  margin: 7px 15px;
  display: inline-block;
}
#app #full .controls .button[disabled],
#app #footer .controls .button[disabled],
#app #transfer .controls .button[disabled] {
  pointer-events: none;
  color: #9b9b9b;
}
#app #full .controls .button[disabled] .material-icons,
#app #footer .controls .button[disabled] .material-icons,
#app #transfer .controls .button[disabled] .material-icons {
  border: 1px solid #9b9b9b;
}
#app #full .controls .button .material-icons,
#app #footer .controls .button .material-icons,
#app #transfer .controls .button .material-icons {
  border: 1px solid #166b7f;
  margin-bottom: 4px;
}
#app #full .controls .button .material-icons.on,
#app #footer .controls .button .material-icons.on,
#app #transfer .controls .button .material-icons.on {
  background-color: #166b7f;
  color: white;
}
#app #full .controls .button .material-icons.on:not(.mic),
#app #footer .controls .button .material-icons.on:not(.mic),
#app #transfer .controls .button .material-icons.on:not(.mic) {
  z-index: 100;
}
#app #full .controls .button .label,
#app #footer .controls .button .label,
#app #transfer .controls .button .label {
  display: block;
}
#app #full {
  height: 400px;
  text-align: center;
}
#app #full .banner {
  height: 52px;
  background-color: #015d73;
  padding-top: 8px;
}
#app #full .banner .avatar {
  width: 90px;
  height: 90px;
  border: 2px solid white;
}
#app #full .banner .avatar .initials {
  font-size: 40px;
}
#app #full .info {
  padding: 40px 0 30px 0;
}
#app #full .info .name {
  padding: 0 15px;
  font-size: 30px;
  font-weight: lighter;
}
#app #full .info .material-icons {
  border-radius: 50%;
  font-size: 25px;
  padding: 8.5px;
}
#app #full .info .material-icons.end {
  background-color: #d0021b;
  color: white;
}
#app #full .info .material-icons.answer {
  margin-left: 20px;
  background-color: #00ad33;
  color: white;
}
#app #full .info .no-controls {
  width: 75%;
  margin: 180px auto 12px auto;
}
#app #full .info .controls {
  width: 75%;
  margin: 15px auto 12px auto;
}
#app #dialpad,
#app #transfer {
  height: 400px;
}
#app #dialpad .banner,
#app #transfer .banner {
  height: 40px;
  background-color: #015d73;
  text-align: center;
  color: white;
  font-size: 19px;
  padding: 10px;
}
#app #dialpad .banner .material-icons,
#app #transfer .banner .material-icons {
  position: absolute;
  top: 9px;
  left: 12px;
  color: #b9babb;
}
#app #dialpad {
  text-align: center;
}
#app #dialpad .input {
  width: 240px;
  margin: 12px auto;
  border: 0;
  border-bottom: 1px solid #979797;
  padding: 4px 0;
  font-size: 18px;
  text-align: center;
}
#app #dialpad .controls {
  width: 75%;
  margin: 0 auto;
}
#app #dialpad .controls .key {
  display: inline-block;
  vertical-align: top;
  color: #015d73;
  font-size: 30px;
  width: 35px;
  margin: 6px 18px;
}
#app #dialpad .controls .key.special {
  color: #9b9b9b;
}
#app #dialpad .controls .key .label {
  color: black;
  font-size: 10px;
}
#app #dialpad .buttons {
  margin-top: 7px;
}
#app #dialpad .buttons .material-icons {
  border-radius: 50%;
  font-size: 25px;
  padding: 8.5px;
  color: white;
  background-color: #015d73;
  margin: 0 11px;
}
#app #dialpad .buttons .material-icons.answer {
  background-color: #00ad33;
}
#app #dialpad .buttons .material-icons.end {
  background-color: #d0021b;
}
#app #transfer {
  display: flex;
  flex-direction: column;
}
#app #transfer .info {
  flex: 1;
}
#app #transfer .info .alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f5f5f5;
  padding: 8px 20px;
}
#app #transfer .info .alert .avatar {
  width: 48px;
  height: 48px;
  font-size: 20px;
}
#app #transfer .info .alert .details {
  flex: 1;
  padding-left: 10px;
  overflow: hidden;
}
#app #transfer .info .to {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 15px;
  color: #00ad33;
  font-size: 18px;
}
#app #transfer .info .to .number {
  flex: 1;
  margin-left: 10px;
  border: 0;
  border-bottom: 2px solid #dedede;
  padding: 4px 0;
  font-size: 16px;
}
#app #transfer .controls {
  text-align: center;
}
#app #transfer .controls .material-icons {
  border-radius: 50%;
  font-size: 25px;
  padding: 8.5px;
}
#app #transfer .controls .cancel {
  color: #045f75;
  margin: 7px 0 14px 0;
}
#app #footer .alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 52px;
  padding: 0 12px;
  border-top: 1px solid #00afd9;
  border-bottom: 1px solid #00afd9;
  background-color: #eef2f5;
}
#app #footer .alert.type3 {
  border-top: 1px solid #fd5c2a;
  border-bottom: 1px solid #fd5c2a;
  background-color: #ffefeb;
}
#app #footer .alert.type5 {
  border-top: 1px solid #00ad33;
  border-bottom: 1px solid #00ad33;
  background-color: #e9ffef;
}
#app #footer .alert .avatar {
  width: 42px;
  height: 42px;
  border: 2px solid white;
}
#app #footer .alert .avatar .initials {
  font-size: 16px;
}
#app #footer .alert .details {
  flex: 1;
  text-align: left;
  padding-left: 8px;
  overflow: hidden;
}
#app #footer .alert .material-icons {
  border-radius: 50%;
  color: white;
  font-size: 22px;
  padding: 5px;
  margin-left: 10px;
}
#app #footer .alert .material-icons.answer {
  background-color: #00ad33;
}
#app #footer .alert .material-icons.end {
  background-color: #d0021b;
}
#app #footer .alert .material-icons.switch {
  background-color: white;
  color: black;
  border: 1px solid #166b7f;
}
/* import other scripts */
