/* POPUPS */
#popup {
	position: absolute;
	z-index: 101;
	background-color: white;
	border-radius: 4px;
	-webkit-box-shadow: 1px 1px 4px #4d4d4d;
	        box-shadow: 1px 1px 4px #4d4d4d;
	font-size: 13px;
	line-height: 20px;
	
	.divider {
		height: 1px;
		border: 0;
		margin: 4px 0px;
		background-color: #eeeeee;
	}

	.logoutOptions{
		list-style:none;

	    &:hover{
    		text-decoration: underline;
	    }
	}

	.logoutList{
	    padding: 0 0 0 20px;
	    margin: 0;
        max-height: 120px;
    	overflow-y: auto;

	}

	.selectTitle{
	    text-align: center;
	    margin: 5px 0 0px 0;
	}
		
	.material-icons {
		font-size: 13px;
		font-weight: bold;
		width: 15px;
	}
	
	// pop-up classes //
	
	&.location {
		top: 90px;
		left: 30px;
		width: 263px;
		padding: 6px 8px;
		line-height: 24px;
		
		.line {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			
			.material-icons {
				color: #0bb03b;
			}
			
			.name {
				width: 140px;
				font-weight: bold;
				padding: 0 8px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			
			.reg {
				color: #aaaaaa;
			}
		}
	}
	
	&.status {
		top: 40px;
		left: 25px;
		width: 170px;
		padding: 4px 4px 6px 4px;
		
		.material-icons {
			width: 18px;
		}
		
		.indicator {
			display: inline-block;
			margin-right: 10px;
		}
	}
	
	&.preferences {
		top: 50px;
		right: 15px;
		width: 160px;
		padding: 6px 0px;
		
		.option {
			margin-left: 25px;
		}
	}

	&.logoutreasons {
    top: 50px;
    right: 15px;
    width: 205px;
    height: 160px;
    padding: 6px 0;
		
		.option {
			margin-left: 25px;
		}
	}
	
	&.custom {
		top: 0;
		left: 26px;
		right: 26px;
		padding: 12px 20px;
		border-radius: 0;
		font-size: 14px;
		-webkit-box-shadow: 0px 0px 10px #4d4d4d;
		        box-shadow: 0px 0px 10px #4d4d4d;
		
		.label {
			font-weight: bold;
		}
		
		.message {
			resize: none;
			width: 100%;
			height: 55px;
			padding: 5px;
			margin: 5px 0 10px 0;
		}
		
		.buttons {
			text-align: center;
			
			.button {
				display: -webkit-inline-box;
				display: -ms-inline-flexbox;
				display: inline-flex;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				width: 90px;
				height: 30px;
				background-color: #989898;
				border-radius: 5px;
				text-transform: uppercase;
				color: white;
				margin-right: 7px;
				
				&:last-child {
					background-color: #00ad33;
					margin: 0 0 0 7px;
				}
			}
		}
	}
	
	&.audio {
		top: 75px;
		left: 55px;
		width: 212px;
		height: 64px;
		padding: 10px 15px;
		
		&.basic {
			top: 38px;
			right: 58px;
			left: auto;
			
			&:after {
				.triangle;
				-webkit-transform: rotate(-45deg);
				
				        transform: rotate(-45deg);
				top: 12px;
				right: -6px;
			}
		}
		
		&.full:after {
			.triangle;
			bottom: -6px;
			right: 28px;
		}
		
		.control {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			margin-bottom: 12px;
			
			.material-icons {
				font-size: 16px;
				margin-right: 8px;
			}
			
			.slider {
				-webkit-box-flex: 1;
				    -ms-flex: 1;
				        flex: 1;
			}
		}
	}
	
	&.move {
		top: 215px;
		left: 17px;
		width: 282px;
		padding: 4px 10px 8px 10px;
		font-size: 12px;
		
		.label {
			font-weight: bold;
			text-align: center;
			margin-bottom: 4px;
		}
		
		.line {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			
			.material-icons {
				color: #0bb03b;
			}
			
			.name {
				width: 164px;
				padding: 0 8px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			
			.reg {
				color: #aaaaaa;
			}
		}
		
		&:after {
			.triangle;
			bottom: -6px;
			right: 60px;
		}
	}
}

/* positioning is different per view */

#app #popup {
	&.status {
		top: 34px;
		left: 10px;	
		
		&:after {
			.triangle;
			-webkit-transform: rotate(-135deg);
			
			        transform: rotate(-135deg);
			-webkit-box-shadow: 0 0 0;
			        box-shadow: 0 0 0;
			top: -6px;
			left: 22px;
		}
	}
	
	&.preferences {
		top: 34px;
		right: 10px;
		
		&:after {
			.triangle;
			-webkit-transform: rotate(-135deg);
			
			        transform: rotate(-135deg);
			-webkit-box-shadow: 0 0 0;
			        box-shadow: 0 0 0;
			top: -6px;
			right: 8px;
		}
	}

		&.logoutreasons {
	    top: 195px;
	    right: 20px;
		
		&:after {
			border-width:8px !important;
			.triangle;
			-webkit-transform: rotate(45deg);
			
			        transform: rotate(45deg);
			-webkit-box-shadow: 0 0 0;
			        box-shadow: 0 0 0;
			top: 152px;
			right: 70px;
		}
	}
	
	&.location {
		top: 76px;
		left: 28px;
		
		&:after {
			.triangle;
			-webkit-transform: rotate(-135deg);
			
			        transform: rotate(-135deg);
			-webkit-box-shadow: 0 0 0;
			        box-shadow: 0 0 0;
			top: -6px;
			left: 81px;
		}
	}
}